input {
  padding: 10px;
  border-radius: 5px;
}

select {
  padding: 10px;
  border-radius: 5px;
}

#upload {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
}

#headerSection {
  padding: 2px;
  font-family: Cursive;
}

#loginSection {
  /* padding-top: 50px; */
  margin: 40px;
}
h1{
  margin: 40px;
  font-family: cursive;
}

.ab{
  /* background-color: #e5e994; */
  background-image: url('../uploads/logo.png');
  background-size: cover;
  background-position: center;
  position: relative;
} 

#loginbtn {
  padding: 5px;
  font-size: 15px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}

#reglink {
  padding: 5px;
  font-size: 15px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

#mainSection {
  padding: 10px;
}

#profileSection {
  width: 30%;
  float: left;
  background-color: white;
  padding: 20px;
}

#groupSection {
  width: 60%;
  float: right;
  background-color: white;
  padding: 20px;
}

#back-button {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  padding: 5px;
  font-size: 15px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}

#logout-button {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  padding: 5px;
  font-size: 15px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}

#bghome {
  background-image: url('../uploads/voot.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* trying */

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
  url(../uploads/voot.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 100px;
}
#nav-links{
  flex: 1;
  text-align: right;
}
#nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
#nav-links ul li a{
  color: #0f0101;
  text-decoration: none;
  font-size: 20px;
}
#nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
#nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 60px;
}
.text-box{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color:#fff;
  border: 1px solid #fff;
  padding: 12px 34px ;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}
.bb{
  min-height: 100vh;
  width: 100%;
  background-image: url(../uploads/e-voting1.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.headerlogin{
  min-height: 100vh;
  width: 100%;
  background-image: url(/uploads/logo.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.headerR-3{
  min-height: 100vh;

  width: 100%;
  background-image: url(/uploads/e-voting1.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
/*------------------ login page css -----------------*/
.hero-btn1{
  display: inline-block;
  text-decoration: none;
  color:rgb(12, 2, 2);
  border: 1px solid rgb(13, 4, 4);
  padding: 12px 34px ;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  width: 15%;
}
.hero-btn1:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.5s
}
body{
  text-align: center;
}
.headerlogin{
  padding: 10px; 
}
.headerlogin h1{
  font-family: cursive;
  font-size: 50px;
}
input{
  padding: 15px;
  border-radius: 5px;
  width: 30%;
}
#dropbox{
  padding: 15px;
  border-radius: 5px;
  width: 31%;
}
#nav-links{
  flex: 1;
  text-align: right;
}
.headerlogin li{
  list-style: none;
  display: inline-block;
  padding: 8px 120px;
  position: relative;
}

.headerlogin ul li a{
  color: rgb(26, 20, 20);
  text-decoration: none;
  font-size: 20px;
  }

/*------------------Registration page ------------------*/
.headerR-3 h1{
  font-family: cursive;
  font-size: 50px;
} 
input{
  padding: 15px;
  border-radius: 5px;
  width: 30%
}
.RG{
  padding: 15px;
  border-radius: 5px;
  width: 50%;
}
.RG1{
  padding: 15px;
  border-radius: 5px;
  width: 24%;
}
.RG2{
  padding: 15px;
  border-radius: 5px;
  width: 24%;
}
.RG3{
  padding: 15px;
  border-radius: 5px;
  width: 50%;  
}
#imagepart{
  border: 1px solid black;
  border-radius: 5px;
  padding: 12px;
  width: 50%;
}
#role{
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  width: 48%; 
}
#role select{
  border-radius: 5px;
  padding: 10px;
} 
.hero-btn2{
  display: inline-block;
  text-decoration: none;
  color:rgb(12, 2, 2);
  border: 1px solid rgb(13, 4, 4);
  padding: 12px 34px ;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  width: 15%;
}
.hero-btn2:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.5s
}

/*--------- home page media quari-----------*/
nav.fa{
  display: none;
}

@media(max-width: 700px){
  .text-box h1{
      font-size: 20px;
  }
  #nav-links ul li{
      display: block;
  }
  #nav-links{
      position: absolute;
      background: #f44336;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
  }
  nav .fa{
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;

  }
  #nav-links ul{
      padding: 30px;
  }
}
/*-------------- about page-------------*/
/*----- read more butten ------*/  
.hero-btn2{
  display: inline-block;
  text-decoration: none;
  color:rgb(12, 2, 2);
  border: 1px solid rgb(13, 4, 4);
  padding: 12px 34px ;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  width: 15%;
}
.hero-btn2:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.5s
}
body{
  text-align: center;
}
.headerabout{
  padding: 10px; 
}
.headerabout h1{
  font-family: cursive;
  font-size: 50px;
}
input{
  padding: 15px;
  border-radius: 5px;
  width: 30%;
}
#dropbox{
  padding: 15px;
  border-radius: 5px;
  width: 31%;
}
#nav-links{
  flex: 1;
  text-align: right;
}
.headerabout li{
  list-style: none;
  display: inline-block;
  padding: 8px 120px;
  position: relative;
}

.headerabout ul li a{
  color: rgb(26, 20, 20);
  text-decoration: none;
  font-size: 20px;
  }
/*----------- media quari for about page --------------*/
  nav.fa{
      display: none;
  }
  
  @media(max-width: 700px){
      .text-box h1{
          font-size: 20px;
      }
      #nav-links ul li{
          display: block;
      }
      #nav-links{
          position: absolute;
          background: #f44336;
          height: 100vh;
          width: 200px;
          top: 0;
          right: -200px;
          text-align: left;
          z-index: 2;
          transition: 1s;
      }
      nav .fa{
          display: block;
          color: #fff;
          margin: 10px;
          font-size: 22px;
          cursor: pointer;
  
      }
      #nav-links ul{
          padding: 30px;
      }
  }
  .about{
      width: 80%;
      margin: auto;
      text-align: center;
      padding-top: 100px;
  }
  .about-col{
      flex-basis: 31%;
      border-radius: 10px;
      margin-bottom: 5%;
      text-align: center;
  }
  .about-col img{
      width: 250px;
      border-radius: 10px;
  }
  .about-col1 img{
      width: 220px;
      border-radius: 10px
  }
  .about-h1{
      size: 100px;
      
  }
  .about-col2 img{
      width: 290px;
      border-radius: 10px
  
  }
 
 .line{
  color: #fff;
 }